*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #001;
}

.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.img-box img{
    width: 100%;
}

.menu{
    background-color:#123;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* min-width: 180px ;
    max-width: 360px ; */
    width: 260px;
    height: 100vh;
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    display: flex;
    gap: 40px;
    border-radius: 8px;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    transition: .5s;
}
.menu a:hover,.active{
    background-color: #ffffff55;
}

.log-out {
position: absolute;
bottom: 0px;
width: 100%;
}
.log-out a{
    background-color: #a00;
}

ul li a i {
    font-size: 30px;
}